#gabel {
  display: inline-block;
  border: 3px solid var(--gabel-color);
  padding: .2em .5em .3em;
  color: var(--gabel-color);
  border-radius: .3em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

  }
}
