:root {
  --font-color: #e3e0d7;
  --bg-color: #242424;
  --heading-color: #fff;
  --link-color: #80a0ff;
  --link-color-visited: #d787ff;
  --gabel-color: #95e454;
  --gabel-link-color: #fff;

}

[data-theme="light"] {
  --font-color: #566b78;
  --bg-color: #fff;
  --heading-color: #333;
  --link-color: #00e;
  --link-color-visited: #551A8B;
  --gabel-color: #318000;
  --gabel-link-color: #333;

}

html, body {
  font-family: "Helvetica", "Arial", sans-serif;
};

body {
	margin: 0 auto;
	max-width: 70em;
  color: var(--font-color);
  background-color: var(--bg-color);
	line-height: 1.5;
	padding: 2em 1em 4em;
}

a {
  color: var(--link-color);

  &:visited {
    color: var(--link-color-visited);
  }
}

h1, h2, strong {
	color: var(--heading-color);
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}
