:root {
  --font-color: #566b78;
  --bg-color: #fff;
  --heading-color: #333;
}

[data-theme="dark"] {
  --font-color: #c1cdd4;
  --bg-color: #333;
  --heading-color: #fff;
}

html, body {
  font-family: "Helvetica", "Arial", sans-serif;
};

body {
	margin: 0 auto;
	max-width: 70em;
  color: var(--font-color);
  background-color: var(--bg-color);
	line-height: 1.5;
	padding: 4em 1em;
}

h1, h2, strong {
	color: var(--heading-color);
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}
